<!DOCTYPE HTML>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Duplicate</title>
    <link rel="shortcut icon" href="/duplicate_32x32.ico" type="image/x-icon">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<section class="section">
    <div class="container">
        <nav class="level is-mobile">
            <div class="level-item has-text-centered">
                <div class="block">
                    <form name='f' action="login" method='POST'>
                        <div class="field">
                            <label class="label">Логин</label>
                            <div class="control">
                                <input class="input" type="text" name='username' value=''/>
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Пароль</label>
                            <div class="control">
                                <input class="input" type="password" name='password'/>
                            </div>
                        </div>

                        <div class="control">
                            <input class="button is-primary" name="submit" type="submit" value="Войти"/>
                        </div>
                    </form>
                </div>
            </div>
        </nav>
    </div>
</section>
</body>
</html>
